.view-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.view-modal-content {
    /* background: white; */
    /* padding: 40px; */
    text-align: center;
    position: relative;
}

.view-close-button {
    position: absolute;
    border-radius: 50%;
    width: 30px;
    top: -30px;
    right: -30px;
    background: white;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}
